body {
    background-color: #0A4568;
    /*background: url('/images/bg_losangeles.jpg') no-repeat center center fixed;*/
    /*background-size: cover;*/
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    color: white;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}


#leftcol {
    width: 66%;
    height: 100vh;
    /*background-color: pink;*/
    float: left;
}

#rightcol {
    width: 34%;
    height: 100vh;
    background-color: #306180;
    float: right;
    box-sizing: border-box;
}

.rightcol-element {
    padding: 10px;
}

#content {

}



#transit {
    /*background-color: rgba(0,0,0,0.3);*/
    height: 66vh;
    width: 100%;
    overflow: hidden;
    /*padding: 1em;*/
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

#weather {
    /*background-color: rgba(0,0,0,0.7);*/
    background: url('/images/weather.png');
    height: 34vh;
    color: white;
    box-sizing: border-box;
}

.route {
    /*background-color: rgba(255,255,255,0.8);*/
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;

}

.weather-icon {
    font-size: 3em;
    color: white;

}

.temp {
    font-size: 3em;
    font-weight: 200;
}

.temp-unit {
}

.route-id {
    font-weight: 700;
    display: inline-block;
    width: 2em;
    padding-left: 10px;

}

.route-name {
    font-weight: 700;
    display: inline-block;
    width: 10em;
}

.eta {
    /*display: inline-block;*/
    width: 2em;
    font-weight: 200;
    padding-right: 10px;
}

.eta-next {
    display: inline-block;
    width: 2em;
    padding: 0 10px 0 10px;
    font-weight: 200;
}

/*400,100,500,700,900,100italic,300,300italic,400italic,500italic,700italic,900italic*/